body {
    font-family: Helvetica;
    background-color: #323335;
}

h1 {
    color: #a2a2a2;
}

#image-box {
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.img-card {
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    background-color: #a2a2a2;

    /* display: inline-block; */
    /* width: 280px; */
}

.img-card:hover {
    transform: scale(1.1);
}

form {
    position: absolute;
    top: 80px;
    text-align: center;
}

.img-card p {
    position: relative;
    margin: 2px;
    text-align: center;
    bottom: 5px;
    font-family: Helvetica;
    font-weight: lighter;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
    padding: 5px;
    background-color: #a2a2a2;
}

.input-box {
    display: inline-block;

    /* display: flex;
    flex-direction: row; */
}

input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
}

/* input:hover {
    background-color: dimgray;
} */

#file {
    width: 200px;
    height: 30px;
}

button {
    width: 100px;
    height: 30px;
    padding: 0;
    right: 3%;
    border-radius: 5px;
}

.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000b1;

    /* background: linear-gradient(#323335, #848485); */
}

.modal-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
}

.img-section {
    /* background: linear-gradient(#c6c6c6, #848485); */

    background-color: #a2a2a2;
    border: 1px solid white;
    overflow: auto;
    width: 700px;
    height: 750px;
    position: relative;
    left: 28%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.modal-img {
    padding: 0;
}

.img-section h2 {
    margin: 5px;
    font-weight: lighter;
}

.img-section p {
    margin: 5px;
}

.img-section h5 {
    margin: 5px;
    font-weight: lighter;
}

.comment-section {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 0;
    width: inherit;
    height: 150px;
    /* top: 30px; */

    /* background-color: white; */
}

.comments-box {
    width: inherit;
}

.comment-card {
    border: 1px solid white;
    border-radius: 3px;
    margin: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    /* width: 100%; */
}

.comment-card:hover {
    border: 1px solid dimgray;
    opacity: 0.7;
}

.comment-card h5 {
    font-weight: lighter;
}
.comment-section h3 {
    margin: 5px;
    font-weight: lighter;
}

.comment-section button {
    position: relative;
    top: 4.5%;
    left: 0.5%;
}

.see-more {
    position: absolute;
    left: 45%;
    bottom: 20px;
}

/* .comment-section button:hover {
    border: 2px solid orange;
} */
